.ipynb_checkpoints/
__pycache__/
.mypy_cache/
*.code-workspace
data/
processed_data/
old_data/
old_processed_data/
logs/
temp_files/
experiment_notebooks/
*.md
!README.md
!README_DEPLOY.md
*.json
.aider*
.env
*.bin
*.sqlite3
*.pickle
*.log
.venv/
.env
.env.prod
