GEMINI_API_KEY=
GROQ_API_KEY=
HUGGINGFACE_ACCESS_TOKEN=
COHERE_API_KEY=
PINECONE_API_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
RETRIEVER_VECTOR_STORE=chromadb
DATA_HOST_PATH=./processed_data
ENVIRONMENT=development